.apresentationContainer {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.8) 0%,
      rgb(0, 0, 0, 0.8) 100%
    ),
    url("../public/background.jpg");
  height: 100vh;
  min-height: 700px;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  text-align: center;
  color: white;
  position: relative;
}

.apresentationContainer h1 {
  font-size: 84px;
  margin: 5px 0px;
}

.apresentationContainer h5 {
  font-size: 23px;
  color: #89d2dc;
  letter-spacing: 0.3rem;
}

.apresentationContainer span {
  font-size: 17px;
  letter-spacing: 0.2rem;
}

.apresentationContainer span::before {
  content: "|";
  text-align: center;
  display: inline-block;
  padding: 0 14px 0 8px;
  color: rgba(255, 255, 255, 0.3);
}

.apresentationContainer span::after {
  content: "|";
  text-align: center;
  display: inline-block;
  padding: 0 8px 0 14px;
  color: rgba(255, 255, 255, 0.3);
}

.apresentationContainer ul {
  position: absolute;
  bottom: 5rem;
  list-style: none;
  font-size: 38px;
  display: flex;
}

.apresentationContainer li {
  margin: 0px 20px;
}

.apresentationContainer a {
  outline: none;
  color: white;
}

.apresentationContainer a:hover {
  transition: 0.3s;
  color: #89d2dc;
}

.aboutContainer {
  padding: 120px 30px;
  text-align: center;
}

.aboutContainer h5 {
  color: #89d2dc;
  font-size: 18px;
  line-height: 1.875;
  margin-bottom: 0.3rem;
  letter-spacing: 0.4rem;
}

.aboutContainer h1 {
  font-size: 36px;
  color: #313131;
  line-height: 1.25;
  margin-bottom: 1.2rem;
}

.aboutContainer ul {
  list-style: none;
}

.aboutDivisor {
  display: flex;
  justify-content: center;
  text-align: left;
}

.aboutDivisor > div {
  display: flex;
  justify-content: center;
  max-width: 900px;
}

.aboutDivisor > div > div {
  padding: 20px;
}

.aboutDivisor p {
  font-family: "lora-regular", serif;
  font-size: 1.6rem;
  line-height: 1.6;
  color: #888888;
}

.aboutDivisor p strong {
  font-family: "poppins-bold", sans-serif;
  color: #313131;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-size: 1.2rem;
  line-height: 3rem;
}

.carrerContainer {
  padding: 120px 30px;
  text-align: center;
  background: #ebebeb;
}

.carrerContainer h5 {
  color: #89d2dc;
  font-size: 18px;
  line-height: 1.875;
  margin-bottom: 0.3rem;
  letter-spacing: 0.4rem;
}

.carrerContainer h3 {
  color: #89d2dc;
  font-size: 22px;
  margin-bottom: 2rem;
}

.carrerContainer h1 {
  font-size: 36px;
  color: #313131;
  line-height: 1.25;
  margin-bottom: 1.2rem;
}
@media screen and (max-width: 1000px) {
  .aboutDivisor > div {
    flex-direction: column;
  }
  .apresentationContainer h1 {
    font-size: 60px;
  }

  .apresentationContainer span {
    font-size: 12px;
    letter-spacing: 0.2rem;
  }
}
